/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************ SITE ****************/

/* Container geral */
.content { width: 1000px; margin: 0 auto; font-family: tahoma, arial, verdana; }

/* Header */
.content header {  background-color: #FF3030; padding: 10px; width: 980px; }
.content header h1 { color: #FFF; font-size: 26px; font-family:"arial black"; }
.content header h2 { color: #000; font-size: 18px; padding-top: 5px; }



/* Navegacao */
.content nav { background: #FF3030; /* Old browsers */
background: -moz-linear-gradient(top,  #FF3030 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF3030), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #FF3030 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #FF3030 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #FF3030 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #FF3030 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3030', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
 }
.content nav {  line-height: 30px; padding: 0 10px; }
.content nav a {color: black; }
.content footer {color:red; text-align:center;}
